.filter-container{
    border: 1px solid #a2a1a1;
    border-radius: 5px;
    padding: 0 5px;
    margin: 0 2rem;
    /* max-width: 800px; */
    width: 700px;
}
.filter-by-price {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .filter-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-direction: column;
  }
  
  .price-input {
    /* width: 100px; */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .butonGroup-filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
   /* Responsive Styles */
   @media (max-width: 768px) {
    .filter-container{
      width: 90%;
      margin: 0 2rem 2rem 2rem;
    }
    .filter-form {
      flex-direction: row;
  }
  }