.slide-menu {
    position: fixed;
    right: -100%;
    top: 0;
    width: 400px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease;
    padding: 20px;
    z-index: 1000;
    overflow-y: auto;
  }
  .slide-menu-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .slide-menu.show {
    right: 0;
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-between;
  }
  
  .cart-item-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 15px;
  }
  
  .cart-item-info h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .cart-item-info p {
    margin: 5px;
    color: #555;
  }
  .remove-button {
    background-color: #ff4d4d;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .remove-button:hover {
    background-color: #ff1a1a;
  }
  
  .cart-total {
    margin-top: 20px;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
  }